
.sub_title {
  font-family: Arial, "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif
} 

.btc_news_pageTitle {}

.mac__inner {
  width: 95%;
  max-width: 1100px;
  margin-inline: auto;
  font-family: 'Yu Gothic', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

.mac__inner img {
  max-width: 100%;
  height: auto;
  position: relative;
  display: block;
}

.mac {
  padding-top: clamp(60px, 10vw, 100px);
  padding-bottom: clamp(35px, 10vw, 100px);
}

.mac:last-of-type {
  padding-bottom: clamp(50px, 10vw, 150px);
}

.mac + .mac {
  border-top: 3px solid #838383;
}

.mac__career {
  display: flex;
  gap: 30px clamp(20px, 4vw, 56px);
  flex-wrap: wrap;
}

.mac__img img {
  /* width: 100%;
  height: auto; */
}



.mac__cont {
  flex: 1;
}

.mac__name {
  font-size: clamp(24px, 3.2vw, 32px);
  font-weight: 700;
  margin-top: 5px;
}

.mac__name-en {
  color: #01b00e;
  font-size: 13px;
  margin-left: 20px;
  vertical-align: middle;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.mac__sns {
  display: flex;
  gap: 12px;
  margin-top: 10px;
  padding-bottom: 20px;
  position: relative;
}

.mac__sns a {
  background-color: #ffff;
}

.mac__sns a img{
  max-width: 100%;
}


.mac__sns::before {
  content: '';
  background-color: #01b00e;
  width: clamp(90px, 16vw, 160px);
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.mac__sns::after {
  content: '';
  background-color: #e3e8ec;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
}

.mac__sns a:hover {
  opacity: 0.8;
}

.mac_text {
  font-size: 13px;
  margin-top: clamp(20px, 3vw, 30px);
}

.mac__table {
  margin-top: clamp(20px, 3vw, 30px);
}

.mac__dl {
  display: grid;
  grid-template-columns: clamp(95px, 10vw, 90px) 1fr;
}

.mac__dt {
  padding-block: 5px;
  padding-inline: clamp(10px, 1.5vw, 12px) 5px;
}

.mac__dd {
  padding-block: 5px;
  padding-inline: 10px clamp(10px, 1.5vw, 12px);
}

.mac__dt:nth-of-type(odd),
.mac__dd:nth-of-type(odd) {
  padding-block: 10px;
}

.mac__dt:nth-of-type(even),
.mac__dd:nth-of-type(even) {
  background: #e3e8ec;
}

.mac__head {
  font-size: 18px;
  font-weight: 700;
  margin-top: 60px;
  padding: 10px clamp(10px, 2vw, 20px);
  background-color: #e3e8ec;
  font-family: Arial;
}

.mac__media {
  margin-top: clamp(20px, 3.5vw, 35px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(30px, 5vw, 74px) clamp(10px, 3vw, 46px);
}

.mac__media-link:hover {
  color: #000;
}

.mac__media-link:hover .mac__media-img {
  opacity: 0.8;
}

.mac__media-link:hover .mac__media-title {
  text-decoration: underline;
}

.mac__media-meta {
  margin-top: 13px;
}

.mac__media-cate {
  color: #01b00e;
  border: 1px solid #01b00e;
  border-radius: 20px;
  margin-right: 10px;
  padding: 2px 8px;
  font-size: 13px;
}

.mac__media-date {
  color: #01b00e;
}

.mac__media-title {
  font-size: clamp(14px, 1.6vw, 16px);
  margin-top: clamp(5px, 1.5vw, 15px);
}

/* .mac__media-img img {
  width: 100%;
  height: auto;
} */

.page-numbers__mac {
  margin-top: 115px;
}

.mac__btn {
  color: #01b00e;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  border: 1px solid #01b00e;
  background: #fff;
  width: 100%;
  max-width: 270px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 65px;
}

.mac__btn:hover {
  opacity: 0.8;
  background: #01b00e;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .mac__media {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .mac__career {
    flex-direction: column;
  }

  /* .mac__img {
    width: 100%;
  } */

  .mac__media {
    grid-template-columns: repeat(2, 1fr);
  }

  /* .mac__media-img {
    width: 100%;
  } */

  .mac__media-date {
    display: block;
  }

  .mac__media-date {
    margin-top: 10px;
    display: block;
  }

  .mac__btn {
    font-size: 14px;
    margin-top: 40px;
    height: 50px;
    max-width: 250px;
  }
}
